{% extends 'base.html' %}
{% block title %}My Future{% endblock %}
{% block content %}
    <h1>My Future</h1>
        <img src="{{ url_for('static', filename='images/developer.jpg') }}">
    <p>I live in Germany,and I am 21 years old.</p>
    <p>I study Python because I want to work in IT,and Germany language not for me,I like English))</p>
    <h2>My plans</h2>
    <p>I want learn Flask and build my own projects.</p>
    <p>In the future, I hope to find a job as a Python developer.</p>
{% endblock %}

